* {
  font-family: $montserrat;
  font-size: $font-md;
}

#app {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
}

.logo {
  font-weight: 700;
  font-size: $font-lg;
  line-height: 39px;
  text-transform: uppercase;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $secondary;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 14px;
}

.scrollbar-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar-y__hidden::-webkit-scrollbar {
  display: none;
}