* {
  font-family: $montserrat;
  font-size: $font-md;
}

#app {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
}

.logo {
  font-weight: 600;
  font-size: $font-bg;
  line-height: 140%;
  text-transform: uppercase;
}